{% layout "layout.liquid" %} 
{% block content %}
<div>
  <h1 class='heading'>RPG PARTY</h1>
  <div class="cntr"><button class='btn-large' id="play">Play</button></div>
  <div class="cntr auth">
    <a href="/user/signup"><button class="hide btn-large" id='signup'>Signup</button></a>
    <a href="/user/login"><button class="hide btn-large" id='login'>Login</button></a>
  </div>
  
  {% if logCheck == true %}
    <script>
      $('#play').on('click', (event) => {
        window.location.href = '/party'
      })
    </script>
  {% else %}
    <script>
      $('#play').on('click', (event) => {
        $('.hide').removeClass('hide')
        $('#play').addClass('hide')
      })
    </script>
  {% endif %}
</div>
{% endblock %}