{% layout "layout.liquid" %}
{% block content %}
<h1 class='heading'>RPG PARTY</h1>
<div>
<form action="/user/signup" method="post">
<fieldset>
<legend class='heading'>New User</legend>
<label>
    Username: <input type="text" class='white' name="username" required/> 
</label>
<label>
    Password: <input type="password" class='white' name="password" required/>
</label>
<div class="cntr"><input type="submit" class='violet' value="Create Account"/></div>
</fieldset>

</form>
</div>
{% endblock %}