<fieldset>
    <legend>Character</legend>
        <label>
            Name: <input type="text" name="name" placeholder="enter character name"/>
        </label>
</fieldset>
<input type="submit" value="create new character"/>