{% layout "layout.liquid" %}
{% block content %}

<article>

    <h2>{{char.name}}</h2>
    <a href="/party/{{char._id}}/edit"><button>EDIT</button></a>
    <form action="/party/{{char._id}}?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
    <a href="/party"><button>Back</button></a>

</article>


{% endblock %}