{% layout "layout.liquid" %}
{% block content %}

<div>

 <form action="/party" method="post">
  <fieldset>
    <legend>Character</legend>
        <label>
            Name: <input type="text" name="name" placeholder="enter character name"/>
        </label>
    </fieldset>
    <input type="submit" value="create new character"/>
 </form>

</div>


{% endblock %}